
#navigator{
	padding-left: 0px;
	padding-right: 0px;
}
#navigator-ul li{
	border-bottom:1px solid #748ab8;
	color:#29abe2; 
	font-size:16px;
	height:60px;
}
#navigator-ul li img{
	margin-left:24px;
	margin-right:20px;
	margin-top:20px;
	margin-bottom:20px;
}

#navigator-ul li:hover{
	cursor: pointer;
}

.title{
	margin-top: 40px;
	margin-bottom:26px;
}

.title p{
	font-size:27px;
	color:#666666; 
}
#content{
	float:left;
}
#terminal-content-body{
	float:left; 
	width: 820px; 
	margin-top:25px; 
	margin-left:-80px
}
.repo {
	width: 820px;
	height: 165px;
	float: left;
	border-top:1px solid #c8c8c8;
	border-bottom: 1px solid #c8c8c8;
	margin-top: 15px;
	margin-bottom: 40px;
}
.repo:hover{
	background-color:#f4fbfe;
	border-color: #f4fbfe;
	cursor: pointer;
}
.data_left{
	width:590px;
	float:left;
}

.subtitle a{
	font-size:20px;
	color:#43609f;
	margin-top: 21px;
	margin-left: 30px;
	margin-bottom: 20px;
	float: left;
	font-weight: bold;
}

.subtitle span{
	font-size:20px;
	color:#43609f;
	margin-top: 21px;
	margin-left: 30px;
	margin-bottom: 20px;
	float: left;
	font-weight: bold;
}

.subtitle a:hover{
	color: #395289;
}
.description{
	float:left;
}

.description p{
	font-size: 14px;
	color: #333333;
	margin-left: 30px;
	line-height: 20px;
	width: 550px;
}

.lable{
	float:left;
	margin-left: 30px;
	margin-top: 20px;	
}
.lable span{
	font-size: 12px;
	color:#666666;
}

.lable #img_time{
	background-image: url('images/selects/images_17.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    display: inline-block;
    margin-right:15px;
    margin-left:60px
}

.lable #img_copy{
	background-image: url('images/selects/images_19.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    display: inline-block;
    margin-right:15px;
    margin-left:60px;

}
.icon{
	float:left;
	margin-top: 15px;
	margin-bottom: 20px;
}
.icon span{
	font-size: 12px;
	color:#666666;
	margin-right: 50px;
	margin-right: 60px;
}
.supplier {
	margin-top: 20px;
	margin-bottom: 22px;
	margin-left: 30px;
	font-size: 12px;
	color:#666666;
	float:left;
}
.supplier a{
	font-size: 12px;
	color:#43609f;
}

.supplier a:hover{
	color: #395289;
}
.data_right{
	float:right;
}
.price{
	float: right;
}
.price p{
	margin-top:-110px;
	margin-right:90px;
	border:2px solid #f49f12;
	border-radius: 3px;
	height: 26px;
	width: 60px;
	padding-left:10px;
	padding-right: 10px;
	color: #f49f12;
	font-size: 16px;
}
.iconGroup {
	float:right; 
	margin-top: 30px;
	border-top: 1px solid #c8c8c8;
	font-size: 12px;
	color: #e3e3e3;
	width:166px !important;
}
.like{
	margin-top: 20px;
	padding-right: 20px;
	margin-left: -30px;
	width:50%;
	float: left;
}
.like #like>span:nth-child(1){
	height:20px; 
	width:20px;
	background-image: url('images/selects/like.png');
	background-repeat: no-repeat;
    background-position: 0px 0px;
    display: inline-block;
}
#owner{
	border-top:1px solid #c8c8c8;
	border-bottom: 1px solid #c8c8c8;
	float:right;
	width:253px;
	
}
#dataName{
	font:16px !important;
	color: #666666;
	margin-top: 20px;
}
#dataComment{
	margin-top: 19px;
	margin-bottom: 20px;
	font:16px !important;
	color: #666666;
}
.cart{
	margin-top: 20px;
	margin-left: 20px;
	width: 50%;
	float: left;
}

.download{
	padding-top: 15px;
	float: left;
	margin-left: -30px;
}

.download #download>span:nth-child(1){
	height:20px; 
	width:20px;
	background-image: url('images/selects/images_35.png');
	background-repeat: no-repeat;
    background-position: 0px 0px;
    display: inline-block;
}

#li1:hover{
}

   	.pagination {
		    text-align: right;
		    width: 100%;
		}
		.pagination a {
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    color: #666;
}
.pagination span.current {
    background: #29abe2 none repeat scroll 0 0;
    border-radius: 3px;
}
.pagination a, .pagination span {
    display: inline;
    float: none;
}
.pagination a, .pagination span {
    padding: 0.5em 1em;
}

.tooltip-inner {
    background-color:#43609f;
}
.tooltip.top .tooltip-arrow{
	border-top-color:#43609f;
}

/*最热rep*/

#subtitle{
	padding-top: 20px ; 
	padding-left:30px ;  
	font-size:20px ; 
	font-weight: bold; 
	color:#43609f ; 
	float:left ;
}
.iconss{
	float:left ; 
	width: 233px ; 
	margin-left: 30px;
}
#hot{
	float:left ;
	width: 159px ;
}

.likes{
	margin-top: 24px ;
	float:left ;  
	display: inline ;
}
.likes>span{
	margin-left: 14px ;
    width: 30px ;
    display: inline-block ;
}

.carts{
	float: left ;  
	margin-top: 24px ;
	margin-left: 49px ;
	display: inline ;
}
.carts>span{
	margin-left: 15px ;
    width: 30px ;
}

.downloads{
	float:left ; 
	margin-top:15px ; 
	width:50% ;
}

.downloads>span{
	margin-left: 15px ;
    width: 30px ;
}
.comments{
	float: left ; 
	width:100px ;
	margin-left: -5px;
	margin-top: 18px ;
}
.comments>span{
	margin-left: 15px ;
    width: 30px ;
}

