
.itemtop{
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #c8c8c8;
}
.itemtopLeft{
    width: 80%;
    overflow: hidden;
    float: left;
}
.itemtopRight{
    width: 15%;
    overflow: hidden;
    float: right;
}
.itemandrepName{
    font-size:20px;
    color:#666;
    line-height: 29px;
}
.itemandrepName a{
    color:#43609f;
}
.itemandrepName a:hover{
    color: #395289;
}
.itemComment{
    margin-top:10px;
    color:#666;
    line-height: 24px;
}
.itemtop{
    padding-top:40px;
    padding-bottom: 20px;
}
.itemtopRight p {
    color: #b5b5b5;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    padding-left: 28px;
    width: 100%;
}
.chakanbaimingdan,.baimingdan{
    background:url(../images/as_user.png) left 5px no-repeat;
}
.baimingdan:hover,.chakanbaimingdan:hover{
    background:url(../images/as_user_hover.png) left 5px no-repeat;
    color: #395289;
}
.baimingdan{
    display: none;
}
.xiezuozhe{
    background:url(../images/delete.png) left 5px no-repeat;
}
.xiezuozhe:hover{
    background:url(../images/delete_hover.png) left 5px no-repeat;
    color: #395289;
}
.xiugairep{
    background:url(../images/edit.png) left 5px no-repeat;
}
.xiugairep:hover{
    background:url(../images/edit_hover.png) left 5px no-repeat;
    color: #395289;
}
.chekcprice{
    background:url(../images/price.png) left 5px no-repeat;
}
.chekcprice:hover{
    background:url(../images/price_hover.png) left 5px no-repeat;
    color: #395289;
}
.itemtopbt{
    width: 100%;
    overflow: hidden;
    padding-top:20px;
    padding-bottom: 60px;
}
.topbtleft,.topbtcenter,.topbtright{
    width: 33%;
    overflow: hidden;
    float: left;;
}

.iconiamg1 {
    margin-left: 60px;
    margin-right: 15px;
}
.iconiamg2 {
    margin-left: 20px;
}
.topbtright,.topbtleft span {
    color: #b5b5b5;
}
.topbtcenter{
    text-align: center;
}
.topbtcenter span{
    border-radius: 3px;
    font-size: 12px;
    margin-right: 5px;
    padding: 1px 10px;
}
.period {
    border: 1px solid #29abe2;
}

.personaltag {
    border: 1px solid #666;
}
.api {
    border: 1px solid #eb6877;
}
.flot-data {
    border: 1px solid #fc9b00;
}

.itembottom{
    width: 98%;
    overflow: hidden;
    margin:0 auto;
}
.itembtNav{
    border-bottom: 1px solid #8c97cb;
    border-top: 1px solid #8c97cb;
    color: #43609f;
    font-size: 20px;
    height: 52px;
    text-align: center;
    width: 100%;
}
.itembtNav li{
    width: 20%;
    height: 50px;
    line-height: 54px;
    float: left;
    border-bottom: 4px solid #fff;
    cursor: pointer;
}
.itembtNav li.borderBt {
    border-bottom: 4px solid #8c97cb;
    font-weight: bold;
}
.itembottomcon{
    width: 100%;
    overflow: hidden;
}
.itembottomcon li{
    width: 98% ;
    overflow: hidden;
    margin:0 auto;
    display: none;
}
.tagListcon{
    width: 100%;
    overflow: hidden;
    padding:30px 0px;
}
.tagListcon:hover{
    background: #f4fbfe;
}
.tagName{
    width: 40%;
    overflow: hidden;
    color:#666;
    float: left;
}
.tagName p{
    line-height: 25px;
    font-size: 12px;
}
.tagtime,.tagpullNum{
    width: 25%;
    overflow: hidden;
    float: left;
}
.tagtime{
    text-align: center;
    line-height: 25px;
}
.tagpullNum{
    float: right;
}
.tagpullNum p{
    text-align: center;
    line-height: 24px;
}
.pullListcon,.pullListconwrop{
    width: 100%;
    overflow: hidden;
}
.pullListcon{
    border-bottom: 1px solid #c8c8c8;
    padding:20px 0px;
}
.pullalltaglist>div{
    float: left;
    color: #333;
}
.pulltagtime{
    color: #333;
    font-weight: bold;
    padding:20px 0px;
    border-bottom: 1px solid #c8c8c8;
}

.pullusername{
    width: 40%;
    overflow: hidden;
}
.pullthistime{
    width: 20%;
    overflow: hidden;
}
.pulltagName{
    width: 40%;
    overflow: hidden;
}
.metatitle{
    color: #666666;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0 15px 15px;
}

.metabox{
    padding:40px;
    width: 100%;
    overflow: hidden;
    border:1px dashed #c8c8c8;
    word-break: break-all;
}
.editmeta,.editsample{
    width: 70px;
    height: 20px;
    line-height: 20px;
    padding-left:30px;
    background: url(../images/edit.png) left center no-repeat;
    float: right;
    cursor: pointer;
    font-weight: normal;
    font-size: 14px;
}
.editmeta:hover,.editsample:hover{
    background: url(../images/edit_hover.png) left center no-repeat;
}
.topbtcenter span.period {
    font-size: 12px;
    color: #666;
    padding:1px 10px;
    border-radius: 2px;
    margin-left:1px;
}
.topbtcenter span.api {
    font-size: 12px;
    color: #666;
    padding:1px 10px;
    border-radius: 2px;
    margin-left:1px;
}
.topbtcenter span.flot-data {
    font-size: 12px;
    color: #666;
    line-height: 20px;
    padding:0px 10px;
    border-radius: 2px;
    margin-left:1px;
}
.topbtcenter span.personaltag{
    border-radius: 2px;
    font-size: 12px;
    margin-left: 1px;
    padding: 1px 10px;
    color:#666;
}
#editItem .head {
    margin-bottom: 30px;
}
#editItem .head span {
    color: #333;
    font-size: 20px;
}
#editItem .itemname .key, #editItem .itemcomment .key, #editItem .itemtag .key {

}
#editItem .itempro .key span{
    color: #29abe2;
    font-size: 14px;
    margin-bottom: 10px;
    float: left;
}
#editItem .itempro .key{
    width: 100%;
    overflow: hidden;
}
#messcooperatorpublic{
    float: left;
    width: 90%;
    display: none;
}
#editItem .itemname .value input {
    background-color: #f5f5f5;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    color: #666;
    font-size: 14px;
    height: 38px;
    padding: 0 10px;
    width: 100%;
}
#editItem .itemcomment .value textarea {
    background-color: #fff;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    color: #666;
    font-size: 14px;
    height: 112px;
    margin-bottom: 30px;
    padding: 0 10px;
    width: 100%;
}
#editItem .itempro .value span {
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    color: #666;
    font-size: 12px;
    padding: 3px 15px;
}

#editItem .itemtag {
    margin-bottom: 30px;
}
#editItem .itemtag .value .persontag {
    float: left;
    margin-bottom: 10px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 3px;
    width: 260px;
}
#editItem .itemtag .value .persontag .tagkey, #editItem .itemtag .value .persontag .tagvalue {
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    color: #666;
    font-size: 12px;
    height: 22px;
    text-align: center;
    width: 95px;
}
#editItem .itemtag .value .persontag .tagequal {
    margin: 0 4px;
}
#editItem .itemtag .value .persontag input, #editItem .itemtag .value .persontag div {
    float: left;
}
.delitemlabelicon {
    background-image: url("../images/item_close.png");
    cursor: pointer;
    float: left;
    height: 16px;
    margin-left: 10px;
    margin-top: 3px;
    width: 16px;
}
.delitemlabelicon:hover{
    background-image: url("../images/delete_hover1.png");
}
.errorMesslabels {
    background-color: #ffd1d1;
    color: #ff0000;
    font-size: 14px;
    text-align: center;
    width: 80%;
}
#editItem .itemtag .key .tagname {
    float: left;
}
#editItem .itemtag .key .addbtn > span {
    display: inline-block;
    font-size: 12px;
}
#editItem .itemtag .key .addbtn .btnicon {
    background-image: url("../images/myPublish.png");
    background-position: -91px -28px;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 18px;
    margin-bottom: -4px;
    margin-left: 5px;
    margin-top: 4px;
    width: 18px;
}
#editItem .itemtag .key .addbtn .btnicon:hover{
    background-image: url("../images/add_hover.png");
    background-position: 1px 0px;
}
#editItem .itemtag .key .addbtn > span {
    display: inline-block;
    font-size: 12px;
}
#editItem .itemtagmoney .valuemoney .persontag .limitnum, #editItem .itemtagmoney .valuemoney .persontag .tagtime, #editItem .itemtagmoney .valuemoney .persontag .tagmoney, #editItem .itemtagmoney .valuemoney .persontag .tagexpire {
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    color: #666;
    font-size: 12px;
    height: 22px;
    margin: 0 5px;
    text-align: center;
    width: 45px;
}
#editItem .itemtagmoney .valuemoney .persontag input, #editItem .itemtagmoney .valuemoney .persontag div {
    float: left;
}
#editItem .itemtagmoney .valuemoney .persontag input.isnimitid {
    margin: 3px 3px 0;
}
#editItem .itemtagmoney .valuemoney .persontag div.delitemmoneyicon {
    background-image: url("../images/item_close.png");
    cursor: pointer;
    float: left;
    height: 16px;
    margin-left: 10px;
    margin-top: 3px;
    width: 16px;
}
#editItem .itemtagmoney .valuemoney .persontag div.delitemmoneyicon:hover{
    background-image: url("../images/delete_hover1.png");
}
#editItem .submit {
    padding-top: 30px;
}
#editItem .modal-dialog {
    width: 600px;
}
#pricealertbox .modal-dialog {
    width: 500px;
}
#editItem .itemtag .key {
    border-bottom: 1px solid #c5c5c5;
    height: 24px;
    overflow: hidden;
    padding-bottom: 5px;
}
.itemtagmoney .keymoney {
    border-bottom: 1px solid #c5c5c5;
    color: #29abe2;
    font-size: 14px;
    overflow: hidden;
    padding-bottom: 5px;
}
#editItem .submit input {
    background-color: #29abe2;
    border: 0 none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    height: 40px;
    text-align: center;
    width: 100%;
}
#editItem .itemtag .key .addbtn {
    color: #666;
    float: right;
    font-size: 12px;
}
#editItem .itemtag .key .addbtn {
    display: inline-block;
    font-size: 0;
}
.divmoney {
    height: 24px;
    line-height: 24px;
    width: 100%;
}
.itemtagmoney .keymoney .tagnamemoney {
    float: left;
    height: 24px;
    line-height: 24px;
    width: 30px;
}
#editItem .itemtagmoney .keymoney .divmoney .btniconmoney {
    background-image: url("../images/myPublish.png");
    background-position: -91px -28px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 18px;
    margin-left: 5px;
    margin-top: 4px;
    width: 18px;
}

.freetype {
    border: 1px solid #f49f12;
    color: #f49f12;
}
.pricetype {
    border-radius: 3px;
    display: inline;
    font-size: 12px;
    margin-left: 5px;
    padding: 2px 5px;
}
#editItem .itemtagmoney .keymoney .divmoney .btniconmoney:hover{
    background-image: url("../images/add_hover.png");
    background-position: 1px 0px;
}
#editItem .itemtagmoney .keymoney .divmoney > span {
    display: inline-block;
    font-size: 12px;
}
#itemmess {
    width: 300px;
}
#editItem .itemtagmoney .valuemoney .persontag {
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: hidden;
    padding-right: 3px;
    width: 100%;
}

#editItem .itemtag .value {
    overflow: hidden;
}
#editBox .modal-dialog {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    width: 600px;
}
#addvalue {
    border: 1px solid #c7c7c7;
    border-radius: 4px;
    height: 30px;
    line-height: 30px;
    width: 295px;
}
.addcontent span {
    background: #0077aa none repeat scroll 0 0;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    text-align: center;
    width: 110px;
}
.guanlilist {
    height: 20px;
    width: 100%;
}
.guanlilist span.emptylist {
    margin-left: 10px;
}
.guanlilist span {
    color: #0077aa;
    cursor: pointer;
}
.namelist {
    overflow: hidden;
    width: 100%;
}
.namelist li {
    background: #e5e5e5 none repeat scroll 0 0;
    color: #333;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    padding: 0 10px;
    width: 100%;
}
.namelistcon {
    margin-left: 6px;
}
.namelistdel {
    cursor: pointer;
    float: right;
}
.gobackbtnwrop {
    display: none;
}
.gobackbtn {
    color: #0077aa;
    cursor: pointer;
}
.pages {
    float: right;
    padding-left: 40px;
    padding-right: 15px;
    width: 88%;
}
.pagination a, .pagination span {
    display: inline;
    float: none;
    padding: 0.5em 1em;
}
.pagination a {
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    color: #666;
}
.pagination span.current {
    background: #29abe2 none repeat scroll 0 0;
    border-radius: 3px;
}
.pagination {
    text-align: right;
    width: 100%;
}
.errorMess{
    text-align:center;
    background-color: #ffd1d1;
    font-size: 14px;
    color: #ff0000;
    width:300px;
}
.errorMesslabels{
    text-align:center;
    background-color: #ffd1d1;
    font-size: 14px;
    color: #ff0000;
    width:80%;
}
.successMess{
    text-align:center;
    background-color: #e8f7e6;
    font-size: 14px;
    color: #1bd506;
    width:200px;
    margin-bottom:15px;
}
.allpriceList{
    width: 100%;
    overflow: hidden;
    margin-top: 24px;
}
.allpriceList li{
    background: #e5e5e5 none repeat scroll 0 0;
    color: #333;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    padding: 0 10px;
    width: 100%;
}
sup {
    top: -0.5em;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
.alltagnums{
    border: 1px solid #43609f;
    border-radius: 9px;
    font-size: 10px;
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 1px 4px;
    /*width: 30px;*/
}