
strong{
	font-weight: normal;
}
.isdelerepo{
	width: 23px;
	height: 23px;
	display: inline-block;
	background:url("../images/delete.png");
	position: absolute;
	right: 30px;
	top:28px;
	cursor: pointer;
}
.isdelerepo:hover{
	background:url("../images/delete_hover.png");
}
.selects_rep_top{
	width: 100%;
	line-height: 24px;
	padding-top:40px;
	padding-bottom: 20px;
	position: relative;
}
.del_rep_btn{
	margin-left: 10px;
	padding :4px  12px;
	cursor: pointer;
	background: url("../images/delete.png") 0 0 no-repeat;
}
.pricetype{
	border-radius: 3px;
	display: inline;
	font-size: 12px;
	padding:2px 5px;
	margin-left:5px;
}
.del_rep_btn:hover{
	background: url("../images/delete_hover.png") 0 0 no-repeat;
}
#select_all_rep{
	margin-right: 10px;
}
.godeldata{
	position: absolute;
	top:38px;
	right: 0px;
	color: #43609f;
	cursor: pointer;
}
.godeldata:hover{
	color:#395289;
}
.repList{
	width: 100%;
	overflow: hidden;
}

.repo {
	border-bottom: 1px solid #c8c8c8;
	border-top: 1px solid #c8c8c8;
	float: left;
	margin-bottom: 60px;
	width: 100%;
	position: relative;
}
.repo:hover{
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}
.xiugaireperror{
	width: 100%;
	line-height: 24px;
	color: red;
}
.xiugaireperror{
	display: none;
}
.left {
	float: left;
	width: 590px;

}
.subtitle {
	float: left;
	overflow: hidden;
	width: 100%;
}
.subtitle span.curreoName {
	color: #43609f;
	float: left;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-left: 30px;
	margin-top: 21px;
	display: inline-block;
	max-width: 460px;
	overflow: hidden; /*自动隐藏文字*/
	text-overflow: ellipsis;/*文字隐藏后添加省略号*/
	white-space: nowrap;/*强制不换行*/
}
.subtitle span.curreoName:hover{
	color:#395289;
}
.description {
	float: left;
	overflow: hidden;
	width: 100%;
}
.description p {
	color: #333333;
	float: left;
	font-size: 14px;
	line-height: 20px;
	margin-left: 30px;
	word-wrap:break-word;
	width: 100%;
	overflow: hidden;
}
.thiscoopername{
	font-size: 12px;
	color: #666666;
	float: left;
	padding-bottom: 15px;
}
.thiscoopername span{
	padding-left:30px;
}
.subline {
	float: left;
	width: 100%;
}
.icon {
	float: left;
	margin-bottom: 20px;
	margin-top: 20px;
	overflow: hidden;
	width: 100%;
}
.iconiamg1 {
	margin-left: 60px;
	margin-right: 15px;
}
.icon span {
	color: #b5b5b5;
}
.supplier {
	color: #666666;
	float: left;
	font-size: 12px;
	margin-bottom: 22px;
	margin-left: 30px;
	overflow: hidden;
	width: 100%;
}
.supplier a {
	color: #43609f;
	font-size: 12px;
}
.repcenter {
	float: left;
	margin-left: 97px;
	margin-right: 20px;
	overflow: hidden;
	width: 160px;
	margin-top: 53px;
}
.price {
	float: left;
	height: 25px;
	margin-bottom: 29px;
	margin-top: 30px;
	width: 180px;
}
.price p {
	border-radius: 3px;
	display: inline;
	font-size: 16px;
	padding: 0 10px;
}

.freetype {
	border: 1px solid #f49f12;
	color: #f49f12;
}
.chargetype {
	border: 1px solid #e5004f;
	color: #e5004f;
}
.limitedfreetype {
	border: 1px solid #e60012;
	color: #e60012;
}
.iconGroup {
	/*border-top: 1px solid #c8c8c8;*/
	color: #b5b5b5;
	float: left;
	font-size: 12px;
	width: 160px;
}
.like {
	float: left;
	margin-top: 20px;
	padding-right: 20px;
	width: 50%;
}
.like span, .cart span, .download span {
	margin-left: 20px;
}
.cart {
	float: left;
	margin-top: 20px;
	padding-right: 20px;
	width: 50%;
}
.download {
	float: left;
	padding-right: 20px;
	padding-top: 15px;
}
.repright{
	float: left;
	width: 200px;
	overflow: hidden;
	margin-top:65px;
	margin-left:68px;
}
#delerepoalert .modal-dialog{
	width: 500px;
	margin-top:100px;
}
.delerepotitle{
	height: 35px;
	width: 100%;
	font-size: 18px;
	border-bottom: 1px solid #e5e5e5;
}
.nodelrepo{
	border-radius: 5px;
	color:#ffffff;
	background: #29abe2;
	padding:5px 30px;
	font-size: 16px;
	display: inline-block;
	cursor: pointer;
}
.delerepobtnwrop{
	width: 100%;
	height: 50px;
	text-align: center;
	margin-top:20px;
}
.delerepocomment{
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-top:27px;
}
.nodelerepo{
	margin-left:20px;
}
.repright p{
	width: 100%;
	height: 30px;
	line-height: 30px;
	color: #b5b5b5;
	padding-left:28px;
	cursor: pointer;
}
.baimingdan{
	background:url("../images/white_user.png") left 5px no-repeat;
}
.baimingdan:hover{
	background:url("../images/white_user_hover.png") left 5px no-repeat;
	color: #395289;
}
.xiezuozhe{
	background:url("../images/as_user.png") left 5px no-repeat;
}
.xiezuozhe:hover{
	background:url("../images/as_user_hover.png") left 5px no-repeat;
	color: #395289;
}
.xiugairep{
	background:url("../images/edit.png") left 5px no-repeat;
}
.xiugairep:hover{
	background:url("../images/edit_hover.png") left 5px no-repeat;
	color: #395289;
}
.iconiamg2{
	margin-left:30px;
}
.checkrepo{
	position: absolute;
	top:25px;
	left:0px;
}
.tablelist {
	/* -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-color: -moz-use-text-color #e5e5e5 #e5e5e5;
        border-image: none;
        border-style: none solid solid;
        border-width: medium 1px 1px;*/
	width: 95%;
	margin:0 auto;
	overflow: hidden;
}
.dhead {
	padding:20px 0px;
	overflow: hidden;
	width: 100%;
	border-bottom: 1px solid #c8c8c8;
	color: #666;
}
.dhead span,.dbody span {
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 20%;
	word-break: keep-all;
	float: left;

}
.dhead span.col1,.dbody span.col1{
	width: 48%;
	padding-left:30px;
	/*height: 30px;*/
	padding-top:2px;
	padding-bottom: 2px;

}
.thisiscooperatestatname{
	font-size: 12px;
	color: #666666;
	font-weight: normal;

}
.dhead span.col4,.dbody span.col4{
	width: 12%;
	padding-right:30px;
	text-align: right;
}
.dhead span.col2,.dbody span.col2{
	width: 22%;
}
.dhead span.col3,.dbody span.col3{
	width: 17%;
}
.tablelist span {
	display: inline-block;
}
.dbody div{
	width: 100%;
	overflow: hidden;
	margin:0px;
}
.dbody .row{
	padding:40px 0px;
	border-bottom: 1px solid #c8c8c8;

}
.describe{
	width: 100%;
	overflow: hidden;
	position: relative;
}

.dtail{
	padding-top:20px;
	padding-bottom: 60px;
}

.icon2wrop{
	height: 24px;
	width: 75px;
	float: right;
	line-height: 24px;
	background:url("../images/more.png") right center no-repeat;
	color: #43609f;
	font-size: 12px;
}
.icon2wrop:hover{
	background:url("../images/more_hover.png") right center no-repeat;
	color: #395289;
	text-decoration: none;
}

.xzbox{
	border: 1px solid #faaa68;
	padding:3px 5px;
	color: #faaa68;
	font-size: 12px;
	border-radius: 3px;
	margin-left:5px;
}

.reptoppr{
	float: left;
	margin-top:26px;
}
/****************************修改部分**********************************************/
.mypushcomment li{
	display: none;
}
.top_nav {
	border-bottom: 1px solid #c8c8c8;
	font-size: 27px;
	overflow: hidden;
	padding-top: 40px;
	width: 100%;
}
.topanvcon {
	border-bottom: 4px solid #fff;
	color: #43609f;
	cursor: pointer;
	float: left;
	overflow: hidden;
	padding-bottom: 40px;
	width: 50%;
}
.cur {
	border-bottom: 4px solid #43609f;
}
.add-icon {
	background-image: url("../images/myPublish.png");
	background-position: -91px -28px;
	background-repeat: no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 18px;
	margin-bottom: -2px;
	margin-top: 2px;
	position: relative;
	width: 18px;
}
#judgment {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	display: none;
	margin: -40px 0 10px 125px;
	position: absolute;
	width: 140px;
	z-index: 100;
}
#judgment p {
	color: #333;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 0 15px;
}
#judgment_number {
	background-color: #ffffff;
	border: 5px solid #e5e5e5;
	display: none;
	height: 108px;
	padding: 25px 0;
	position: absolute;
	width: 290px;
	z-index: 100;
}
#p1 {
	color: #000;
	font-size: 16px;
	line-height: 23px;
	text-align: center;
}
#p2 {
	color: #666;
	font-size: 16px;
	text-align: center;
}
#p1 > span {
	background-image: url("../images/emo.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	display: inline-block;
	height: 23px;
	margin-bottom: -6px;
	margin-right: 8px;
	width: 23px;
}
#p2 {
	color: #666;
	font-size: 16px;
	text-align: center;
}
#p2 span {
	color: #29abe2;
}


/*********************白名单弹窗************************/
#cooperatordelCurrent,#cooperatordelCurrentpublic,#delCurrent,#cooperatordelAll,#cooperatordelAllpri,#delAll {
	color: #0077aa;
	font-size: 14px;
	cursor: pointer;
}
#cooperatordelCurrent:hover,#cooperatordelCurrentpublic:hover,#delCurrent:hover, #delAll:hover{
	text-decoration: underline;
}
#cooperatordelCurrent,#cooperatordelCurrentpublic,#delCurrent{
	float:left;
	margin-right:10px;
	margin-bottom: 10px;
}
#cooperatordelAll,#cooperatordelAllpri,#delAll{
	float:left;
	margin-bottom: 10px;
}
#cooperatorinList,#inList{
	height:30px;
	width:110px;
	float:left;
	margin-right:5px;
	background-color: #29abe2;border: none;
}
#cooperatorseList,#seList{
	height:30px;
	width:110px;
	float:left;
	background-color: #29abe2;border:none;
}

.pomisiondelwrop{
	float: left;
	border-top: 1px solid #e5e5e5;
	width: 100%;margin:20px 0px;
}
#cooperatoremailTest,#emailTest{
	width:220px;
	height:30px;
	float:left;
	margin-right:10px;
}
.pomosionList{
	float:left;
	height:30px;
	background:#e5e5e5;
	margin-bottom:10px;
	width:100%;
}
.pomosionListcon{
	float:left;
	height:30px;
	line-height:30px;
}
.delthispomition{
	float:right;
	height:30px;
	line-height:30px;
}
.delecooperator,.deleteTest {
	margin-right: 10px;
}
.modal-dialog{
	width: 520px;
}

.errorMess{
	text-align:center;
	background-color: #ffd1d1;
	font-size: 14px;
	color: #ff0000;
	width:300px;
}
.successMess{
	text-align:center;
	background-color: #e8f7e6;
	font-size: 14px;
	color: #1bd506;
	width:200px;
	margin-bottom:15px;
}
.pagination {
	text-align: right;
	width: 100%;
}
.pagination span.current {
	background: #29abe2 none repeat scroll 0 0;
	border-radius: 3px;
}
.pagination a, .pagination span {
	display: inline;
	float: none;
}
.pagination a {
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	color: #666;
}
.pagination a, .pagination span {
	padding: 0.5em 1em;
}
.gobackbtnwrop,.privategobackbtnwrop,.gobackbtnwropcoo,.publicgobackbtnwrop{
	display: none;
	float: left;
}
.gobackcooperator,.gobackbtn ,.gobackcooperatorpomition,.gobackprivatecooperList{
	color: #0077aa;
	cursor: pointer;
}
.gobackcooperator:hover,.gobackbtn:hover,.gobackcooperatorpomition:hover,.gobackprivatecooperList:hover{
	text-decoration: underline;
}

/*********修改新增repo弹窗*********/
#addRep .head span {
	color: #333;
	font-size: 20px;
}
#addRep .repname .key, #addRep .repcomment .key, #addRep .property .key, .managename {
	color: #29abe2;
	font-size: 14px;
	margin-bottom: 10px;
}
#addRep .repname .value input {
	background-color: #fff;
	border: 1px solid #c7c7c7;
	border-radius: 5px;
	color: #666;
	font-size: 14px;
	height: 38px;
	margin-bottom: 30px;
	padding: 0 10px;
	width: 458px;
}
#addRep .repcomment .value textarea {
	background-color: #fff;
	border: 1px solid #c7c7c7;
	border-radius: 5px;
	color: #666;
	font-size: 14px;
	height: 112px;
	margin-bottom: 30px;
	padding: 0 10px;
	width: 458px;
}
.property {
	margin-bottom: 20px;
}
#ListManagement p {
	color: #29abe2;
	letter-spacing: 0.2em;
	line-height: 20px;
	margin-bottom: 25px;
}
#ListManagement p span:first-child {
	color: #000000;
}
#addRep .submit input {
	background-color: #29abe2;
	border: 0 none;
	border-radius: 5px;
	color: #fff;
	font-size: 18px;
	height: 40px;
	text-align: center;
	width: 458px;
}
/*******************************私有协作者弹窗**********************************/
#privatealertbox .modal-dialog{
	width: 800px;
}
.ListboxLeft,.ListboxCenter,.ListboxRight{
	overflow: hidden;
	float: left;
}
.ListboxLeft,.ListboxRight{
	width: 300px;

}
.ListboxCenter{
	min-height: 200px;
}
#addpricoo{
	width: 80%;
	height: 25px;
	line-height: 25px;
	background: #29ABE2;
	border-radius: 3px;
	color: #fff;
	margin:0 auto;
	margin-top:80px;
	text-align: center;
	cursor: pointer;
}
.privatelistboxwrop{
	width: 100%;
	overflow: hidden;
	border: 1px solid #c8c8c8;
	padding:20px;
	float: left;
	padding-top:0px;
}
.privatecooperList{
	width: 100%;

	overflow: hidden;
}
.pomisionesearchwrop{
	width: 100%;
	overflow: hidden;
}
#privatepomisionemailTest{
	width: 80%;
	height: 30px;
	float: left;
	border-right: none;
	border-radius:0px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	box-shadow:none;
}
#privatecooperatoremailTest{
	width: 80%;
	height: 30px;
	float: left;
	border-right: none;
	border-radius:0px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	box-shadow:none;
}
#privatepomisionemailTest:focus{
	border:1px solid #ccc;
	border-right: none;
}
.searchpomisione{
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	float: left;
	height: 30px;
	width: 18%;
	padding: 6px 12px;
	border: 1px solid #ccc;
	background-image: url("../images/lens.png");
	background-position: 53% 48%;
	background-repeat: no-repeat;
	border-left:none;
	box-shadow: 0;
	cursor: pointer;
}
.ListboxCenter{
	width: 130px;
}
.cooperatorpomitionList{
	height: 245px;
	width: 100%;
}
.cooperator_list{
	width: 100%;
	height: 250px;
	overflow-y: auto;
}
.pagescooperator a ,.pagescooperator span{
	padding: 0.2em 0.5em;
}