.infoBox{
	float: left;
	margin-top: 40px;
	border:1px solid #c8c8c8;
	width:740px;
	height:500px;
}
#title p{
	font-size:27px;
	color: #333333;
	margin-left: 50px;
	margin-top: 40px;
}
.labelBox{
	
	margin-top: 40px;
	text-align: left;
	color: #FF0000;
	height: 20px;
}
.labelBox p{
	font-size:14px;
	color:#ea0c1d;
	margin-left: 70px;
}
.input-group{
	float: left;
	margin-top:20px;
	margin-left: 60px;
	margin-right: 90px;
	display: inline;
	left: -31px;
}
.input-group input{
	margin-top: 35px;
	float: right !important;
	height:50px;
	width:450px !important;
	border:1px solid;
	border-radius: 5px 5px 6px 6px !important;
	padding: 15px;
	display: inline;
	font-size: 14px;
	color: #c8c8c8;
}

#registration{
	background-image: linear-gradient(to bottom, #337ab7 0%, #265a88 100%);
	font:18px bold;
	color:#ffffff;
	height:40px;
	width:255px;
	float: left;
	margin-left: 258px;
	margin-top: 50px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#successed{
	float: left;
	border:1px solid #c8c8c8;
	width: 100%;
}
#registration:hover{
	background-image: linear-gradient(to bottom, #265a88 0%, #337ab7 100%) !important;
	background-color:#337ab7;
	color:#ffffff;
}
#success_con p{
	text-align: center;
	color: #50cd83;
	line-height: 24px;
}
#success_con>div{
	height: 18px;
	width: 100%;
	text-align: center;
	margin-top:70px ;
	margin-bottom: 80px;
}
#success_con>h3{
	margin-top: 30px;
	margin-left: 30px;
}
#reLog{
	background-image: linear-gradient(to bottom, #337ab7 0%, #265a88 100%);
	font:18px bold;
	color:#ffffff;
	height:40px;
	width:255px;
	padding-top: 0px;
	padding-bottom: 0px;
	float: left;
	margin-left: 230px;
	margin-bottom: 50px;
}