a{
	color:#666;
}

.selectBody{
	transition:border-left 0.45s ease 0s;
	border-left: 5px solid #fff;
	width: 100%;
	/* box-shadow:1px 1px 5px 0px #666; */
}

.selectBody:hover{
	border-left: 5px solid #29abe2;
	cursor: pointer;
}


.tab-head-div a:hover{
	text-decoration:underline;
}

.tag-iconItem{
	background-image: url("../images/item_icon.png");
	float: left;
	height: 12px;
	margin-right: 3px;
	width: 12px;
}

.tab-head-div {
	/* background-color: #29abe2;
    border-radius: 5px 5px 0 0;
    color: #fff;
    float: left;
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
    padding-right: 10px; */
	color:#0077aa;
	font-size: 22px;
	float: left;
	padding:20px 0px 20px 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: keep-all;
	max-width:700px;
}

.tab-head-icon {
	background-image: url("../images/slice.png");
	background-position: -156px 0;
	background-repeat: no-repeat;
	float: left;
	height: 32px;
	line-height: 32px;
	margin-bottom: -5px;
	margin-top: 5px;
	width: 20px;
}

.repo-head-left a:hover{
	text-decoration:underline;
}

.navLabelMo {
	border: 1px solid #29abe2;
	color: #29abe2;
	cursor: pointer;
}

#navigator {
	background-color: #f7fafc;
}
#navigator-name {
	font-size: 18px;
	color: #333;
	padding-bottom: 20px;
}
#navigator-ul li{
	width: 100%;
	height: 38px;
	border: 1px solid #ccc;
	border-radius: 20px;
	background: #fff;
	font-size: 16px;
	color: #666;
	text-align: center;
	line-height: 38px;
	margin-bottom: 20px;
}
#navigator-ul li:hover {
	border: 1px solid #29abe2;
	color: #29abe2;
	cursor: pointer;
}
#navigator-ul10 li{
	width: 100%;
	height: 38px;
	border: 1px solid #ccc;
	border-radius: 20px;
	background: #fff;
	font-size: 16px;
	color: #666;
	text-align: center;
	line-height: 38px;
	margin-bottom: 20px;
}
#navigator-ul10 li:hover {
	color: #fff;
	cursor: pointer;
}
#terminal-content-head {
	font-size: 27px;
	color: #666;
	margin-bottom: 20px;
}
#terminal-content-body .repo-head-left {
	/* font-size: 16px;
    color: #fff;
    height: 32px;
    line-height: 32px;
    padding:0px 10px;
    border-radius:5px 5px 0px 0px;
    float:left;
    border-bottom:32px solid #29abe2;
    border-right:12px solid transparent; */
	border-bottom: 32px solid #29abe2;
	border-right: 12px solid transparent;
	color: #fff;
	float: left;
	font-size: 16px;
	height: 32px;
	line-height: 32px;
	padding: 0 10px;
}
#terminal-content-body .repo-head-right{
	font-size: 12px;
	color: #666;
	height: 32px;
	line-height: 32px;
	padding-right: 10px;
	text-align: right;
	float: right;
	padding:20px;
}

#terminal-content-body .repo-body {
	color: #242424;
	float: left;
	font-size: 14px;
	line-height: 24px;
	padding: 0 20px 20px;
	width: 100%;
}
#terminal-content-body .repo-body-tail {
	margin-top: 20px;
	height:100%;
	float:left;
	width:100%;
}
#terminal-content-body .repo-body-tail-left {
	width: 33%;
	text-align: left;
	float:left;
}
#terminal-content-body .repo-body-tail-mid {
	width: 33%;
	text-align: center;
	float:left;
	margin-top:-4px;
}
#terminal-content-body .repo-body-tail-mid span {
	height: 20px;
	font-size: 12px;
	color: #333;
	border-radius: 2px;
	margin-right: 1px;
	padding: 0px 10px;
	line-height: 20px;
}
#terminal-content-body .repo-body-tail-mid span.personaltag{
	background-color: #6ecbcc;
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	margin-right: 1px;
	padding: 0 10px;
	float: left;
	margin-left:1px;
}
#terminal-content-body .repo-body-tail-right {
	width: 33%;
	text-align: right;
	float:left;
}
#terminal-content-body .updatetime-icon {
	background-image: url("../images/sliceU1.png");
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-position: 0px -7px;
	width: 12px;
	height: 12px;
	margin-right: 3px;
	float:left;
}
#terminal-content-body .updatetime-value {
	font-size: 12px;
	color: #989898;
	margin-right: 10px;
	float:left;
	line-height:12px;
}
#terminal-content-body .tag-icon {
	background-image: url("../images/sliceU1.png");
	background-position: -32px -7px;
	background-repeat: no-repeat;
	float: left;
	height: 12px;
	margin-right: 3px;
	width: 8px;
}
#terminal-content-body .tag-value {
	font-size: 12px;
	color: #989898;
	margin-right: 10px;
	float:left;
	line-height:12px;
}

#terminal-content-body .star-icon {
	background-image: url("../images/sliceU1.png");
	background-position: -60px -7px;
	background-repeat: no-repeat;
	float: left;
	height: 12px;
	margin-right: 3px;
	width: 12px;
}
#terminal-content-body .star-value {
	font-size: 12px;
	color: #989898;
	margin-right: 10px;
	float:left;
	line-height:12px;
}
#terminal-content-body .subscript-icon {
	background-image: url("../images/sliceU1.png");
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-position: -92px -7px;
	width: 12px;
	height: 12px;
	margin-right: 3px;
	float:left;
}
#terminal-content-body .subscript-value {
	font-size: 12px;
	color: #989898;
	margin-right: 10px;
	float:left;
	line-height:12px;
}
#terminal-content-body .downloaded-icon {
	background-image: url("../images/sliceU1.png");
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-position: -124px -7px;
	width: 12px;
	height: 12px;
	margin-right: 3px;
	float:left;
}
#terminal-content-body .downloaded-value {
	font-size: 12px;
	color: #989898;
	float:left;
	line-height:12px;
}

#repo-text{
	float:left;
}

#navigator10{
	display: none;
}

.shwr{
	float:right;
}
.repo-head{
	float: left;
	width:100%;
}

#lComs{
	padding: 20px 40px 0px 40px;float:right;margin-bottom:50px;width:100%;
}

#navigator10{
	padding: 20px 20px;width: 100%;float: right;
}

.repo-head-right a:hover{
	color:#337ab7;
	text-decoration:underline;
}


@media (max-width:768px) {

	#navigator{
		display: none;
	}

	#navigator10{
		display:block;
	}

	#terminal-content-body .repo-body-tail-mid{
		width: 100%;
		margin:10px 0px;
	}

	#terminal-content-body .repo-body-tail-left{
		width: 100%;
	}

	#terminal-content-body .repo-body-tail-right{
		width:100%;
	}

	#terminal-content-body .repo-head-right{
		float:left;
		width:100%;
		text-align:left;
	}

	.shwr{
		float: left;
	}

	#navigator-ul li{
		width: 50%;
		float: left;
	}

	#navigator-ul10 li{
		width: 50%;
		float: left;
	}

}


@media (max-width:420px) {
	#navigator10{
		padding:20px 0px;
	}
	#navigator-ul li {
		float: left;
		font-size: 10px;
		margin-left: 10px;
		width: 25%;
		border: none;
		color: #fff;
	}
	#navigator-ul10 li {
		float: left;
		font-size: 10px;
		margin-left: 10px;
		width: 25%;
		border: none;
		color: #fff;
	}
	#lComs{
		padding:0px 20px;
	}

	#navigator-ul li:nth-child(1){
		background-color: #fc9b00;
	}

	#navigator-ul li:nth-child(2){
		background-color: #01238f;
	}

	#navigator-ul li:nth-child(3){
		background-color: #29abe2;
	}

	#navigator-ul li:nth-child(4){
		background-color: #f06f77;
	}

	#navigator-ul li:nth-child(5){
		background-color: #6ecbcc;
	}

	#navigator-ul10 li:nth-child(1){
		background-color: #fc9b00;
	}

	#navigator-ul10 li:nth-child(2){
		background-color: #01238f;
	}

	#navigator-ul10 li:nth-child(3){
		background-color: #29abe2;
	}

	#navigator-ul10 li:nth-child(4){
		background-color: #f06f77;
	}

	#navigator-ul10 li:nth-child(5){
		background-color: #6ecbcc;
	}







}



/********************************************************************************/
.repo {
	border-bottom: 1px solid #c8c8c8;
	border-top: 1px solid #c8c8c8;
	float: left;
	margin-bottom: 60px;
	width: 100%;
}
.left {
	float: left;
	width: 600px;
}
.subtitle {
	float: left;
	overflow: hidden;
	width: 100%;
}
.subtitle a {
	color: #43609f;
	float: left;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-left: 30px;
	margin-top: 21px;
}
.description {
	float: left;
	overflow: hidden;
	width: 100%;
}

.description p {
	color: #333333;
	float: left;
	font-size: 14px;
	line-height: 20px;
	margin-left: 30px;
}
.subline {
	float: left;
	width: 100%;
}
.lable {
	float: left;
	margin-bottom: 20px;
	margin-left: 30px;
	margin-top: 20px;
	overflow: hidden;
	width: 44%;
}
.lable p {
	border-radius: 3px;
	float: left;
	font-size: 12px;
	height: 20px;
	margin-right: 5px;
	padding: 1px 10px;
	width: auto;
}
.icon {
	float: left;
	margin-bottom: 20px;
	margin-top: 20px;
	overflow: hidden;
	width: 50%;
}
.iconiamg1 {
	margin-left: 60px;
	margin-right: 15px;
}
.icon span {
	color: #b5b5b5;
}
.supplier {
	color: #666666;
	float: left;
	font-size: 12px;
	margin-bottom: 22px;
	margin-left: 30px;
	overflow: hidden;
	width: 100%;
}
.supplier a {
	color: #43609f;
	font-size: 12px;
}
.right {
	float: right;
	margin-left: 97px;
	margin-right: 40px;
	overflow: hidden;
	width: 160px;
}
.price {
	float: left;
	height: 25px;
	margin-bottom: 29px;
	margin-top: 30px;
	width: 180px;
}
.price p {

	border-radius: 3px;

	display: inline;
	font-size: 16px;
	padding: 0 10px;
}
.iconGroup {
	border-top: 1px solid #c8c8c8;
	color: #b5b5b5;
	float: left;
	font-size: 12px;
	width: 160px;
}
.like {
	float: left;
	margin-top: 20px;
	padding-right: 20px;
	width: 50%;
}
.like span, .cart span, .download span {
	margin-left: 20px;
}
.cart {
	float: left;
	margin-top: 20px;
	padding-right: 20px;
	width: 50%;
}
.download {
	float: left;
	padding-right: 20px;
	padding-top: 15px;
}
.lable p.period {
	border: 1px solid #29abe2;
}
.lable p.thislabels {
	border: 1px solid #666666;
}
.lable p.personaltag {
	border: 1px solid #6ecbcc;
}
.lable p.api {
	border: 1px solid #eb6877;
}
.lable p.flot-data {
	border: 1px solid #fc9b00;
}
.freetype{
	border: 2px solid #f49f12;
	color: #f49f12;
}

.chargetype{
	border: 2px solid #e5004f;
	color: #e5004f;
}
.limitedfreetype{
	border: 2px solid #e60012;
	color: #e60012;
}
























































