
#navigator_ul li{
	border-bottom:1px solid #748ab8;
	/*color:#29abe2; */
	font-size:16px;
	height:60px;
}

#navigator_ul li:hover{
	cursor: pointer;
}

.title{
	margin-top: 45px;
	margin-bottom:10px;
}

.title p{
	font-size:27px;
	color:#666666; 
	margin-bottom:30px;
	margin-top:45px;
}
.repo {
	width: 860px;
	float: left;
	border-top:1px solid #c8c8c8;
	border-bottom: 1px solid #c8c8c8;
	margin-bottom: 60px;
	padding-left:30px ;
	height: 205px;
}
.repo:hover{
	background-color:#f4fbfe;
	border-color: #f4fbfe;
	cursor: pointer;
}
.repo .left{
	width:560px;
	float: left;
}
.left .subtitle a{
	font-size:20px;
	color:#43609f;
	margin-top: 21px;
	margin-bottom: 20px;
	width: 560px;
	float: left;
	font-weight: bold;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.left .subtitle a:hover{
	color: #395289;
}
.left .description{
	float:left;
	margin-bottom: 20px;
	height: 40px;
	overflow:hidden;
	text-overflow:ellipsis;
}

.left .description p{
	font-size: 14px;
	color: #333333;
	line-height: 20px;
	width: 590px;
	text-overflow:ellipsis;
}

.left .subline{
	float:left;
	display: block;
	margin-bottom: 20px;
}
.left .subline .icon{
	float:right;
}
.left .subline .lable{
	display: inline;
	float: left;
}
.left .subline .lable span{
	padding:3px 6px;
	display: inline;
	border: 1px solid red ;
	border-radius: 3px;
}
.left .subline .icon{
	float: right;
}
.left .subline .icon span{
	font-size: 12px;
	color:#666666;
	margin-right: 50px;
}

.left .supplier {
	margin-bottom: 22px;
	font-size: 12px;
	color:#666666;
	float:left;
	display: block;
	width: 600px;
}
.left .supplier a{
	font-size: 12px;
	color:#43609f;
}

.left .supplier a:hover{
	color: #395289;
}
.data_left{
	width:590px;
	float:left;
}
.repo .right{
	width: 270px;
	float: right;
}
.data_right{
	width:50px;
	float:left; 
	height: 225px;
	margin-left: 220px;
}
.price p{
	border-radius: 3px;
	height: 26px;
	width: 60px;
	padding-left:10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 16px;
}
.price .mianfei_sheet{
	color: #f49f12;
	border:2px solid #f49f12;
}
.price .xianliang_sheet{
	color: #e60012;
	border:2px solid #e60012;
	width: 88px;
}
.price .fufei_sheet{
	color: #e5004f;
	border:2px solid #e5004f;
}
.price .wu_sheet{
	display: none;
}

.iconGroup {
	width:180px;
	float:left; 
	border-top: 1px solid #c8c8c8;
	margin-left: 90px;
	font-size: 12px;
	color: #e3e3e3;
}
.iconGroup div span{
	margin-left: 10px !important;
}
.like{
	margin-top: 20px;
	padding-right: 20px;
	width:50%;
	float:left;
}

.cart{
	margin-top: 20px;
	padding-right: 20px;
	width: 50%;
	float:left;
}

.download{
	margin-top: 60px;
	padding-right: 20px;
	width:50%;
}

#li1:hover{
}

   	.pagination {
		    text-align: right;
		    width: 100%;
		}
		.pagination a {
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    color: #666;
}
		.pagination span.current {
    background: #29abe2 none repeat scroll 0 0;
    border-radius: 3px;
}
.pagination a, .pagination span {
    display: inline;
    float: none;
}
.pagination a, .pagination span {
    padding: 0.5em 1em;
}

.tooltip-inner {
    background-color:#43609f;
}
.tooltip.top .tooltip-arrow{
	border-top-color:#43609f;
}
#navigator_ul li{
	background-position: 10px center;
	padding-left:40px;
	width: 180px;
	line-height: 60px;
}

.li00{
	background: url("../images/selects/images_05.png") no-repeat;
	color:#43609f;
}
.li01{
	background: url("../images/selects/images_30.png") no-repeat;
	color:#43609f;
}
.li02{
	background: url("../images/selects/images_54.png") no-repeat;
	color:#43609f;
}
.li03{
	background: url("../images/selects/images_114.png") no-repeat;
	color:#43609f;
}
.li04{
	background: url("../images/selects/images_110.png") no-repeat;
	color:#43609f;
}
.li05{
	background: url("../images/selects/images_96.png") no-repeat;
	color:#43609f;
}
.li06{
	background: url("../images/selects/images_125.png") no-repeat;
	color:#43609f;
}
.li07{
	background: url("../images/selects/images_129.png") no-repeat;
	color:#43609f;
}
.li08{
	background: url("../images/selects/images_122.png") no-repeat;
	color:#43609f;
}
.li09{
	background: url("../images/selects/images_153.png") no-repeat;
	color:#43609f;
}

.li10{
	background: url("../images/selects/images_03.png") no-repeat;
	color:#29abe2;
}
.li11{
	background: url("../images/selects/images_29.png") no-repeat;
	color:#29abe2;
}
.li12{
	background: url("../images/selects/images_53.png") no-repeat;
	color:#29abe2;
}
.li13{
	background: url("../images/selects/images_113.png") no-repeat;
	color:#29abe2;
 }
.li14{
	background: url("../images/selects/images_109.png") no-repeat;
	color:#29abe2;
}
.li15{
	background: url("../images/selects/images_95.png") no-repeat;
	color:#29abe2;
}
.li16{
	background: url("../images/selects/images_126.png") no-repeat;
	color:#29abe2;
}
.li17{
	background: url("../images/selects/images_130.png") no-repeat;
	color:#29abe2;
}
.li18{
	background: url("../images/selects/images_121.png") no-repeat;
	color:#29abe2;
}
.li19{
	background: url("../images/selects/images_152.png") no-repeat;
	color:#29abe2;

}
